.deprecation-msg {
    background-color: #c75f35;
    margin-top: 20px;
    padding: 10px;
}

.deprecation-msg-title {
    margin: 0;
    font-weight: bold;
    font-size: 19px;
}
.deprecation-msg-desc a {
    margin-left: 5px;
    color: #fcfcfc;
    text-decoration: underline;
}